@{
    ViewData["Title"] = "Denied";
}

<div class="text-center">
    <h1 class="display-4"> Accion no autorizado</h1>
</div>
<h2>Intento realizar una accion para la cual no esta autorizado, ademas de otaku hacker?</h2>